*{

}

header{
  display: flex;
  justify-content: center;
  background-color: green;
}

nav{
  float: left;
  width: 20%;
  background-color: blue;
  height: 300px;
}
article{
  display: flex;
  justify-content: center;
  float: left;
  width: 60%;
  background-color: red;
}
aside{
  float: left;
  width: 20%;
  background-color: blue;
}

footer{
display: flex;
justify-content: center;
float: left;
width: 100%;
background-color: green;
}
